{
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2, { "VariableDeclarator": 2, "SwitchCase": 1 }],
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "no-console": ["warn", { "allow": ["warn", "info", "time", "timeEnd"] }],
    "no-debugger": ["error"],
    "no-else-return": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-undef": ["error"],
    "object-curly-spacing": ["error", "always"],
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "require-jsdoc": ["off"],
    "quote-props": ["error", "as-needed"],
    "valid-jsdoc": ["off"],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": ["error"],
    "jsx-a11y/label-has-for": ["off"],
    "semi": [2, "always"]
  }
}
