/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/patches
.yarn/cache
dist/
build/
storybook-static/
coverage/
node_modules/
tmp/
original/
.DS_Store
.vscode
.tmp

# publish
*.tgz
*.env

# IntelliJ
.idea

# Using change log for release notes so still need to talk to team how we want to maintain this
CHANGELOG.md

/packages/apps/lightning-ui-docs/scripts/themePropertyTables

# Copied into folder from root directory during release
/packages/@lightningjs/ui-components/README.md