name: Release Storybook

on:
  workflow_call:

jobs:
  build-storybook:
    name: Build Storybook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.20.x
      - name: Build
        run: |
          yarn install
          yarn workspace lightning-ui-docs run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./packages/apps/lightning-ui-docs/storybook-static
