name: Code Quality

on:
  workflow_call:

jobs:
  lint-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.20.x
          cache: 'yarn'
      - name: Run tests
        run: |
          yarn install
          yarn lint 
          yarn test
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.20.x
          cache: 'yarn'
      - name: Test build
        run: |
          yarn install
          yarn build
